@model GameTrading.Models.Ad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.games.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.games.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adexpirydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adexpirydate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Swap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Swap)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
